.ccard{
    height: 350px;
}
.techh{
    position: absolute;
    top: 3%;
    left: 5%;
}
/* .ccc{
    width: 50%;
} */

.sd1{
    border:1px solid blueviolet;
    background-color: white;
    color: black;
}
.sd1:hover{
    background-color: blueviolet;
    color: white;
    border:none
}
.sdc{
    border:1px solid blueviolet;
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    margin-left: 3%;
}
.sdc:hover{
    background-color: blueviolet;
    color: white;
    border:none
}
.ttext{
    font-weight: 500;
}

.brad{
    background-color: grey;
    border-top-right-radius: 5px;
    border-top-left-radius: 10px;
}